In [26]:
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [27]:
# Use single quotation marks for defining string
'Michael Jackson'

'Michael Jackson'

In [2]:
# Digital and spaces in string
'1,2,3,4,5,6'

'1,2,3,4,5,6'

In [3]:
# Special characters in string
'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [4]:
# Print the string 
print("hello!")

hello!

In [5]:
# Assign string to variable 
Name = "Michael Jackson"
Name

'Michael Jackson'

In [29]:
# Print the first element in string
print(Name[0])

M

In [28]:
# Print the element on index 6 in string
print(Name[6])

l

In [30]:
# Print the element on 13th index in the string
print(Name[13])

o

In [9]:
# Print the last element in the string
print(Name[-1])

n

In [10]:
# Print the first element in the string
print(Name[-15])

M

In [12]:
# Find the length of string
len("Michael Jackson")

15

In [31]:
# Take the slice on variable Name with only index 0 to index 3
Name[0:4]

'Mich'

In [32]:
# Take the slice on variable Name with only index 8 to index 11
Name[8:12]

'Jack'

In [35]:
# Get every second element. The elments on index 1, 3, 5 ...
Name[::2]

'McalJcsni h et'

In [36]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Mca'

In [39]:
# Concentrate two strings
Statement = Name + "is the best"
Statement

'Michael Jackson is the bestis the best'

In [40]:
#Print the string for 3 times
3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [41]:
#Concentrate strings
Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

In [24]:
# New line escape sequence
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [25]:
# Tab escape sequence
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [42]:
# Include back slash in string
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [43]:
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [44]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [45]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [46]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [47]:
# Find the substring in the string.

Name.find('Jack')

8

In [48]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

In [49]:
A = "1"
A

'1'

In [50]:
B = "2"
B

'2'

In [52]:
C = A + B
C

'12'

In [60]:
D = "ABCDEFG"
print(D[:3])

ABC

In [64]:
E = 'clocrkr1e1c1t'
print(E[::2])

correct

In [66]:
print("\\")

\

In [69]:
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

In [70]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [71]:
G.find("snow")

95

In [74]:
G.replace('Mary','Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'